{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- about.html  03:19:46 GMT -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>About Us | En vvu marketing Solutions </title>
   <link rel="shortcut icon" type="image/x-icon" href="assets/img/logo small.png" />
  <!-- google Font -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&amp;display=swap" rel="stylesheet">
  <!-- css styles -->
  <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/icofont.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
</head>

<body>
  <!-- Start Pre-loader -->
  <div class="pre-loader-wrap">
    <div class="pre-loader triangle">
      <svg viewBox="0 0 86 80">
        <polygon points="43 8 79 72 7 72"></polygon>
      </svg>
      <span>Loading...</span>
    </div>
  </div>
  <!-- End Pre-loader -->
  <!-- Start header section -->
  <section class="header-section page-header">
    <header class="header-area">
      <div class="dope-nav-container breakpoint-off">
        <div class="container">
          <div class="row">
            <!-- Main Menu -->
            <nav class="dope-navbar justify-content-between" id="dopeNav">

              <!-- Logo -->
              <a  href="{% url 'index' %}"><img style="width: 200px" src="{% static 'assets/img/envvu png wht line.png' %}" alt=""></a>

              <!-- Navbar Toggler -->
              <div class="dope-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
              </div>

              <!-- Menu -->
              <div class="dope-menu">
                <!-- close btn -->
                <div class="dopecloseIcon">
                  <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
      <!-- Nav Start -->
                <div class="dopenav">
                  <ul id="nav">
                    <li><a href="{% url 'index' %}">Home</a>
                     
                    </li>

                    <li class="current"><a href="{% url 'about' %}">About</a></li>
                 <li><a href="#">Services</a>
                      <ul class="sub-menu">
                        <li><a href="{% url 'digitalmarketing' %}">Digital Marketing</a></li>
                         <li><a href="{% url 'production' %}">Multimedia Production</a></li>
                        <li><a href="{% url 'webdevelopment' %}">Web Designing & Developments</a></li>
                        
                      </ul>
                    </li>
					  <li><a href="{% url 'team' %}">Team</a></li>
					  <li><a href="{% url 'gallery' %}">Gallery</a></li>
					  <li><a href="{% url 'blog' %}">Blog</a></li>
					  <li><a href="{% url 'career' %}">Career</a></li>	
                      <li><a href="{% url 'contact' %}">Contact</a></li>
                  </ul>

                </div>
                <!-- Nav End -->
                <a href="{% url 'contact' %}" class="menu-btn">Get a quote</a>
              </div>
            </nav>
            <div class="overlay"></div>
          </div>
        </div>
      </div>
    </header>
    <div class="container">
      <div class="row section-gap">
        <div class="col-md-12">
          <h1>About Us</h1>
          <ul class="pagination">
            <li><a href="{% url 'index' %}">Home</a></li>
            <li>About Us</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End header section -->
  <!-- Start overview section -->
  <section class="overview-section section-gap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-12 tab-left">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-overview-tab" data-toggle="pill" href="#v-pills-overview" role="tab"
              aria-controls="v-pills-overview" aria-selected="true">
              <img src="{% static 'assets/img/aa1.png' %}" alt="">
              <h4>Company Overview</h4>
            </a>
            <a class="nav-link" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-mission" role="tab"
              aria-controls="v-pills-mission" aria-selected="false">
              <img src="{% static 'assets/img/aa2.png' %}" alt="">
              <h4>Mission of En vvu</h4>
            </a>
            <a class="nav-link" id="v-pills-vision-tab" data-toggle="pill" href="#v-pills-vision" role="tab"
              aria-controls="v-pills-vision" aria-selected="false">
              <img src="{% static 'assets/img/aa3.png' %}" alt="">
              <h4>Vission of En vvu</h4>
            </a>
          </div>
        </div>
        <div class="col-lg-8 col-md-12 tab-right">
          <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-overview" role="tabpanel"
              aria-labelledby="v-pills-overview-tab">
              <h2>Envvu Marketing is all about building and developing businesses that stand among stiff competitions.
</h2>
              <p>
               We live in a digital world and digitalization plays a major role in our day-to-day life. The team of strategic thinkers, content creators, and innovative technologists of Envvu Marketing are fully integrated into the latest technology and innovations. 
Digital is our native language. We work faster, provide quality, strategic efficiency, and thinking within your stipulated budget. Envvu Marketing is fully immersed in the business and industry of its client. 
We acquire the same vision for accomplishing multiple goals together. Plus, we leverage the best practices learned from our huge experiences in various plethora of industries.

              </p>
            
            </div>
            <div class="tab-pane fade" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
              <h2>Provide Expertise Digital Marketing Services At Affordable Costs
</h2>
              <p>
              Our primary vision has been to leverage our best expertise and profound understanding of client’s business domain areas. We strive to understand their requirements for creating tailored-fit solutions for individual business needs.


              </p>
              
            </div>
            <div class="tab-pane fade" id="v-pills-vision" role="tabpanel" aria-labelledby="v-pills-vision-tab">
              <h2>Follow Best Online Marketing & Branding Strategies To Gain Good Results
</h2>
              <p>
               We are committed to assisting our clients in creating meaningful relationships with their audience. Envvu Marketing tries to build better brands using connected digital experiences. Also, we strive hard to be known for our disciplined approach towards providing the highest value of satisfaction to each customer.


              </p>
             
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End overview section -->
  <!-- Start about section -->
  <section class="about-section section-gap">
    <div class="container">
      <div class="row d-flex align-items-center">
        <div class="about-left col-lg-6 col-md-12">
          <h1>Experienced, Professional & Forward Thinkers
</h1>
          <p>Envio Marketing’s strength lies in decoding what our clients’ need into an effective solution. We are living in the advanced digital gamut, and we stay round the clock for addressing your needs. Envvu Marketing is uncommonly unique today because we make the tomorrow by creating interactive web portals and the best brands for the future.
</p>
          <div class="row">
            <div class="col-md-6">
              <h4 class="purple"> Passion
</h4>
              <p>It all begins with a passion. We are a collaborative team having a passion for converting ideas to brands and products. Our strategic thinking and innovation transform your desired ideas into the required results.
</p>
            </div>
            <div class="col-md-6">
              <h4 class="yellow">Thinking
</h4>
              <p>The passion we have leads to thinking and from that thought we develop strategies. Now, this strategy, later on, becomes the roadmap; one that is a detailed plan explaining how these ideas will come to life and provide results. </p>
            </div>
            <div class="col-md-6">
              <h4 class="purple2">Innovation
</h4>
              <p>Our innovative thinking starts with how to implement the visual story. We will try to check what digital channel, platform, and technology would make sense for your business. If the technology is pricy, we would look for any other alternatives. </p>
            </div>
            <div class="col-md-6">
              <h4 class="green">Results
</h4>
              <p>Now the success of what we are doing with your requirements is related to your business objectives like implementing the latest brand strategies, ROI, developing brand awareness, etc. Together at the end of the journey, we will achieve the desired results.

</p>
            </div>
          </div>
        </div>
        <div class="about-right col-lg-6 col-md-12">
          <img class="img-fluid" src="{% static 'assets/img/a1.png' %}" alt="">
        </div>
      </div>
    </div>
  </section>
  <!-- End about section -->

  <!-- Start team section -->
  <section class="team-section section-gap">
    <div class="container">
      <h1 class="title text-center">Great Businesses Need Dedicated Leadership Team
</h1>
      <div class="row d-flex justify-content-center">
        <div class="col-lg-3 col-md-6">
          <div class="single-team">
            <div class="thumb">
              <img class="img-fluid" src="{% static 'assets/im/anandmenon.jpg' %}" alt="">
            </div>
            <div class="details text-center yellow">
              <h4>ANAND MENON</h4>
              <p>MANAGING DIRECTOR</p>
              <ul>
                  
            <li><a href="https://www.linkedin.com/company/envvumarketingsolutions/"><i class="icofont-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team">
            <div class="thumb">
              <img src="{% static 'assets/im/vineethvijaya.jpg' %}" alt="">
            </div>
            <div class="details text-center purple">
              <h4>VINEETH VIJAYAN</h4>
              <p>Director-Operation & Marketing</p>
              <ul>
               
                <li><a href="http://linkedin.com/"><i class="icofont-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team">
            <div class="thumb">
              <img src="{% static 'assets/im/abhijithmohandas.jpg' %}" alt="">
            </div>
            <div class="details text-center purple2">
              <h4>Abhijith Mohandas</h4>
              <p>Team Leader-production and Development</p>
              <ul>
               
                <li><a href="http://linkedin.com/"><i class="icofont-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="single-team">
            <div class="thumb">
              <img src="{% static 'assets/im/nandinimenon.jpg' %}" alt="">
            </div>
            <div class="details text-center green">
              <h4>NANDINI MENON</h4>
              <p>Team Leader-Digital Marketing</p>
              <ul>
               
                <li><a href="http://linkedin.com/"><i class="icofont-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End team section -->
   <!-- Start logo section -->
  <section class="brand-logo-section home-one">
    <div class="container">
      <div class="row bottom-logo-wrap">
        <div class="brand-logo-carousel owl-carousel owl-theme">
          <div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/ishalogos.png' %}" alt=>
            </a>
          </div>
			 <div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/kaizenlogos.png' %}" alt=>
            </a>
          </div>
          <div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/hasislogos.png' %}" alt=>
            </a>
          </div>
          <div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/spicelogos.png' %}" alt=>
            </a>
          </div>
          <div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/crystalPKDlogos.png' %}" alt=>
            </a>
          </div>
          <div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/TPlogos.png' %}" alt=>
            </a>
          </div>
          <div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/majesticlogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/tintlogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/sun cmptrslogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/SMRTlogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/semc.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/polaogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/mitaralogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/jessieslogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/hotelogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/crystal TLlogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/bedlogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/atlantalogos.png' %}" alt=>
            </a>
          </div>
			<div class="single-brand-logo">
            <a href="#">
              <img class="img-fluid" src="{% static 'assets/im/logos(1)/almasslogos.png' %}" alt=>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End logo section -->
	<!-- Start subscribe-form section -->
 <section class="subscribe-form-section">
    <div class="container">
      <div class="row d-flex justify-content-center align-items-center cta-subscribe-wrap other-page">
        <div class="col-md-5">
          <h4>For More Information  <br>
            Call Us On.
          </h4>
        </div>
        <div class="col-md-7">
          <form class="input-group subscribe-form-wrap">
            
            <div class="input-group-append">
              <button class="form-btn-style" type="submit">
                <a href="tel:+91 7907575988">Call Us</a>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
 <br>
 <br>
 <br>
  <!-- End subscribe-form section -->
    <!-- Start footer section -->
  <footer class="footer-section section-gap-top home-one">
    <div class="container">
      <div class="row footer-top d-flex justify-content-between">
        <div class="col-lg-4 col-md-6 col-6 footer-widgets">
          <img src="{% static 'assets/im/EN VVU LOGO.png' %}" alt="en vvu" width="162" height="158" class="footer-logo" >
          <p>Phone:<a href="tel:+91 7907575988">+91 7907575988</a> <br>
Email:<a href="mailto:info@envvumarketing.com">info@envvumarketing.com</a> </p>
          <ul class="social-lists">
            <li><a href="https://www.facebook.com/envvumarketing/"><i class="icofont-facebook"></i></a></li>
			  <li><a href="https://twitter.com/envvumarketing"><i class="icofont-twitter"></i></a></li>
			  
            <li><a href="https://www.youtube.com/channel/UCde3OSSxVRuugxGtvOe2A_g"><i class="icofont-youtube"></i></a></li>
            <li><a href="https://www.instagram.com/envvumarketing/"><i class="icofont-instagram"></i></a></li>
            <li><a href="https://www.linkedin.com/company/envvumarketingsolutions/"><i class="icofont-linkedin"></i></a></li>
          </ul>
		  </div>
        <div class="col-lg-2 col-md-6 col-6 footer-widgets" style="padding-top: 50px;">
          <div class="single-widget">
            <h4 class="wiget-title">Site Map</h4>
            <ul>
              <li><a href="{% url 'about' %}">About</a></li>
              <li><a href="{% url 'blog' %}">Blog</a></li>
			  <li><a href="{% url 'team' %}">Team</a></li>	
			   <li><a href="{% url 'career' %}">Career</a></li>		
              <li><a href="{% url 'contact' %}">Contact</a></li>
			  	
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-6 footer-widgets" style="padding-top: 50px;">
          <div class="single-widget">
            <h4 class="wiget-title">Services</h4>
            <ul>
              <li><a href="{% url 'digitalmarketing' %}">Digital Marketings</a></li>
              <li><a href="{% url 'production' %}">Production & Media</a></li>
              <li><a href="{% url 'webdevelopment' %}">Web Design & Development</a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-6 footer-widgets" style="padding-top: 50px;">
          <div class="single-widget">
            <h4 class="wiget-title">Address</h4>
         <p>Envvu Marketing Solution.
2nd FLOOR GATEWAY COMPLEX
ROBINSON ROAD PALAKKAD 678001
PALAKKAD KERALA</p> 
          </div>
        </div>
      </div>
      <div class="row footer-bottom section-gap-top d-flex align-items-center">
        <div class="col-md-6">
          <p style="font-size:30px; color: white; line-height: 40px;">Trying hard to be seen local?<br> Then Switch to Digital and be Global! <br></p>
          
        </div>
        <div class="col-md-6">
          <div class="comment-buttons" style="padding-left: 70px; height: 10px;">
            <div></div>
            <button class="btn-style red-btn"><h3 style="padding-top: 5px;">Let's Switch to Digital</h3></button>
          </div>
        </div>
      </div>
      <div class="row copyright-bottom d-flex align-items-center">
        <div class="col-md-6">
          <p><a href="envvumarketing.com">En vvu Marketing Solutions Pvt.Ltd</a></p>
        </div>
        <div class="col-md-6">
          <ul>
           
            <li><a href="#">Privecy Policy</a></li>
            <li><a href="#">Terms & Conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- End footer section -->
  <!-- Start Scroll Top -->
  <div class="scroll-top">
    <i class="icofont-rounded-up"></i>
  </div>
  <!-- End Scroll Top -->
  <script src="{% static 'assets/js/jquery-3.3.1.slim.min.js' %}"></script>
  <script src="{% static 'assets/js/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'assets/js/dopeNav.js' %}"></script>
  <script src="{% static 'assets/js/odometer.js' %}"></script>
  <script src="{% static 'assets/js/tilt.jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>


<!-- about.html  03:19:47 GMT -->
</html>